<div class="row">
  <div class="col-lg-6">
    <h2>Listado de Empleados</h2>
  </div>
  <div class="col-lg-6" style="text-align: right;">
    <button mat-raised-button	color="warn" routerLink="add">AGREGAR</button>
  </div>
</div>
<mat-form-field>
  <mat-label>Filtro</mat-label>
  <input matInput (keyup)="applyFilter($event)" placeholder="Filtro" autocomplete = "off" #input>
</mat-form-field>
<table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">

    <ng-container matColumnDef="nombreCompleto">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Nombre Completo </th>
      <td mat-cell *matCellDef="let element"> {{element.nombreCompleto}} </td>
    </ng-container>
  
    <ng-container matColumnDef="correo">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Correo </th>
      <td mat-cell *matCellDef="let element"> {{element.correo}} </td>
    </ng-container>
  
    <ng-container matColumnDef="estadoCivil">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Estado Civil </th>
      <td mat-cell *matCellDef="let element"> {{element.estadoCivil}} </td>
    </ng-container>
  
    <ng-container matColumnDef="fechaIngreso">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Fecha de Ingreso </th>
      <td mat-cell *matCellDef="let element"> {{element.fechaIngreso | date: 'dd/mm/yy'}} </td>
    </ng-container>

    <ng-container matColumnDef="sexo">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Sexo </th>
      <td mat-cell *matCellDef="let element"> {{element.sexo}} </td>
    </ng-container>

    <ng-container matColumnDef="telefono">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Teléfono </th>
      <td mat-cell *matCellDef="let element"> {{element.telefono}} </td>
    </ng-container>

    <ng-container matColumnDef="acciones">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Acciones </th>
      <td mat-cell *matCellDef="let element; let i = index"> 
        <a class="pointer" routerLink="edit/{{ i }}" style="color: #1878B0">
          <mat-icon>edit</mat-icon>
        </a>
        <a (click)=eliminarEmpleado(i) class="pointer" style="color: #E15639 ">
          <mat-icon>delete</mat-icon>
        </a>
      </td>
    </ng-container>
  
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
  
  