<div class="row">
    <div class="col-lg-6">
        <h2>{{ accion }} Empleado</h2>
    </div>
</div>
<div class="row">
    <div class="col-lg-4">
        <form [formGroup]="myForm" autocomplete="off">
            <div class="col-lg-12">
                <mat-form-field class="example-container" [style.fontSize.px]=16>
                    <mat-label>Nombre Completo</mat-label>
                    <input matInput formControlName="nombreCompleto">
                  </mat-form-field>
                  <div *ngIf="myForm.get('nombreCompleto').hasError('required') && myForm.get('nombreCompleto').touched" style="margin-top: -20px;">
                      <span class="mda-form-msg">Este campo es <strong>requerido</strong> </span>
                  </div>
                  <div *ngIf="myForm.get('nombreCompleto').hasError('maxlength') && 
                  myForm.get('nombreCompleto').touched" style="margin-top: -20px;">
                      <span class="mda-form-msg">El campo debe tener como máximo<strong>20 caracteres</strong> </span>
                  </div>
            </div>
            <div class="col-lg-12">
                <mat-form-field class="example-container" [style.fontSize.px]=16>
                    <mat-label>Correo</mat-label>
                    <input matInput formControlName="correo">
                  </mat-form-field>
                  <div *ngIf="myForm.get('correo').hasError('required') && myForm.get('correo').touched" style="margin-top: -20px;">
                      <span class="mda-form-msg">Este campo es <strong>requerido</strong> </span>
                  </div>
                  <div *ngIf="myForm.get('correo').hasError('email') && myForm.get('correo').touched" style="margin-top: -20px;">
                    <span class="mda-form-msg">Este campo es <strong>requerido</strong> </span>
                </div>
            </div>
            <br>
            <br>
            <div class="col-lg-12">
                <mat-form-field class="example-container" appearance="fill">
                    <mat-label>Fecha Ingreso</mat-label>
                    <input matInput [matDatepicker]="picker" matInput formControlName="fechaIngreso">
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker touchUi #picker></mat-datepicker>
                  </mat-form-field>
                  <div *ngIf="myForm.get('fechaIngreso').hasError('required') && myForm.get('fechaIngreso').touched" style="margin-top: -20px;">
                    <span class="mda-form-msg">Este campo es <strong>requerido</strong> </span>
                </div>
            </div>
            <div class="col-lg-12">
                <mat-form-field class="example-container">
                    <mat-label>Teléfono</mat-label>
                    <input matInput formControlName="telefono">
                  </mat-form-field>
                  <div *ngIf="myForm.get('telefono').hasError('required') && myForm.get('telefono').touched" style="margin-top: -20px;">
                    <span class="mda-form-msg">Este campo es <strong>requerido</strong> </span>
                </div>
            </div>
            <div class="col-lg-12">
                <mat-form-field class="example-container">
                    <mat-label>Estado Civil</mat-label>
                    <mat-select formControlName="estadoCivil">
                      <mat-option *ngFor="let estadoCivil of estadosCiviles" [value]="estadoCivil">
                        {{ estadoCivil }}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                  <div *ngIf="myForm.get('estadoCivil').hasError('required') && myForm.get('estadoCivil').touched" style="margin-top: -20px;">
                    <span class="mda-form-msg">Este campo es <strong>requerido</strong> </span>
                </div>
            </div>
            <div class="col-lg-12">
                <mat-radio-group aria-label="Seleccione sexo" matInput formControlName="sexo">
                    <mat-radio-button value="Masculino" style="margin-right: 10px;">Masculino</mat-radio-button>
                    <mat-radio-button value="Femenino">Femenino</mat-radio-button>
                  </mat-radio-group>
                  <div *ngIf="myForm.get('sexo').hasError('required') && myForm.get('sexo').touched" style="margin-top: -20px;">
                    <span class="mda-form-msg">Este campo es <strong>requerido</strong> </span>
                </div>
            </div>
            <br>
            <div class="col-lg-12">
                <button class="btn btn-secondary btn-lg float-rigth" 
                routerLink="/" type="button">Cancelar</button>
                <button class="btn btn-success btn-lg float-rigth" [disabled]="myForm.invalid" type="button" 
                style="margin-left: 10px;" (click)="guardarEmpleado()">Aceptar</button>  
            </div>
        </form>
    </div>
    <div class="col-lg-4 offset-lg-2">
        <img src="../../../assets/img/crear-usuario.jpg" alt="" width="95%" height="95%">
    </div>
</div>